
@{
    ViewBag.Title = "View";
}


<link rel="stylesheet" href="~/Content/Tabs.css">
<link rel="stylesheet" href="~/Content/Modal.css">
<link rel="stylesheet" href="~/Content/FixedNavBar.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="~/Scripts/Expenditure.js"></script>
<script src="~/Scripts/Tabs.js"></script>

<script>getExpenditures(0)</script>
<br />

<!--Budget header information-->
<h2>@ViewBag.budget.BudgetName</h2>
<strong>From @ViewBag.budget.BeginDate to @ViewBag.budget.EndDate</strong>
<p>@ViewBag.budget.Description</p>

<!--Tabs for the different parts of the page-->
<div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'Expenditures')">Expenditures</button>
    <button class="tablinks" onclick="openTab(event, 'Income')">Income</button>
    <button class="tablinks" onclick="openTab(event, 'Categories')">Budget</button>
    <button class="tablinks" onclick="openTab(event, 'Goals')">Goals</button>
</div>

<!--Expenditures HTML skeleton includes a pie chart of expenditure amount by category,
    a donut chart with details about each categories used amount and remaining amount,
    and a list of transactions associated with the category selected-->
<div class="tabcontent" id="Expenditures">
    <div class="row">
        <div class="col-md-6">
            <h3 style="text-align: center">Expenditures by Category</h3>
            <!--Canvas for the piechart-->
            <canvas id="piecanvas"></canvas>
        </div>
        <div class="col-md-6" id="donutdiv">
            <h3 id="donuttitle" style="text-align: center"></h3>
            <!--Canvas for the donut chart-->

        </div>
    </div>

    <!--Row headers for transactions-->
    <hr />
    <div class="row">
        <div class="col-md-2">
            <strong>Date</strong>
        </div>
        <div class="col-md-4">
            <strong>Description</strong>
        </div>
        <div class="col-md-2">
            <strong>Amount</strong>
        </div>
        <div class="col-md-2">
            <strong>Category</strong>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" id="showallbtn">Show All Categories</button>
        </div>
    </div>
    <hr />

    <!--div to be filled by javascript with all transactions of the category selected-->
    <div id="transactions">
    </div>
</div>

<div class="tabcontent" id="Categories">

    <br />
    <div id="AddCategoryRow">
        <div class="row">
            <div class="col-md-2">
                <strong>Add Category:</strong>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("CategoryID", new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"), "Pick a Category", new { @class = "form-control", @id = "newCategoryName" })
            </div>
            <div class="col-md-2">
                <input id="newCategoryAmount" type="number" class="form-control" placeholder="Amount" />
            </div>
            <div class="col-md-2">
                @Html.DropDownList("CategoryID", new SelectList(ViewBag.BudgetTypes, "BudgetTypeID", "Description"), "Pick a Budget", new { @class = "form-control", @id = "newCategoryType" })
            </div>
            <div class="col-md-2">
                <button id="addCategoryBtn" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
    <hr />


    <div class="row">
        <div class="col-md-2">
            <strong>Category</strong>
        </div>
        <div class="col-md-2">
            <strong>Amount</strong>
        </div>
        <div class="col-md-1">
            <strong>Type</strong>
        </div>
    </div>
    <hr />

    <!--div to be filled by javascript with all of the categories-->
    <div id="categories">
    </div>

</div>

