@model IEnumerable<PersonalFinanceApplication.Models.Transaction>
@{
    ViewBag.Title = "Confirm";
}

<link rel="stylesheet" href="~/Content/Modal.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    updateBudgetSummary();

    function addVendorAbbrev(abbrev)
    {
        $.ajax({
            type: 'POST', //HTTP POST Method
            url: '/Vendors/AddAbbrev', // Controller/View
            data: JSON.stringify(abbrev),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //alert("Success");

                //Make the modal disappear
                document.getElementById("VendorAbbrevModal").style.display = "none";
            },
            failure: function (response) {
                alert("Fail");
            },
            error: function (response) {
                alert("Fail");
            }
        });
    }

    //Post the TransactionID, CategoryID, and VendorID to the Transactions/Confirm (post)
    function confirm(id, cval, vval) {

        //create the transaction object using JSON syntax
        var transaction = {
            "TransactionID": id,
            "CategoryID": cval,
            "VendorID": vval
        };

        $.ajax({
            type: 'POST', //HTTP POST Method
            url: '/Transactions/Confirm', // Controller/View
            data: JSON.stringify(transaction),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //alert("Success");

                //Remove the transaction from the list
                $('#' + id).remove();
                $('#hr-' + id).remove();
                if (!$(".transaction")[0]) {
                    $('#main').empty();
                    $('#main').append("<br/><h1>There Are No Unconfirmed Transactions</h1>");
                } 
            },
            failure: function (response) {
                alert("Fail");
            },
            error: function (response) {
                alert("Fail");
            }
        });
    }

    
    $(document).ready(function () {

        //If there are no unconfirmed transactions, display a message
        if (!$(".transaction")[0]) {
            $('#main').empty();
            $('#main').append("<br/><h1>There Are No Unconfirmed Transactions</h1>");
        }

        //Confirm all transactions on the page
        //Execute this code when the confirm all button is clicked
        $("#ConfirmAll").click(function () {

            //Hide all the transactions on the page as they are getting confirmed.
            $(".transaction").hide();
            $(".transactionhr").hide();
            $(".transactionhdr").hide();
            $("#main").prepend("<br /><h2>Please wait while we confirm your transactions.</h2>");

            //Go through each transaction
            $('.transaction').each(function (i, obj) {

                var transactionID = parseInt(obj.id);
                var categoryID = $('#Category-' + transactionID).val();
                var vendorID = $('#Vendor-' + transactionID).val();

                var abbrev = {
                    "VendorID": vendorID,
                    "Abbrev": $('#Description-' + transactionID).text()
                }

                if (categoryID !=0 && vendorID != 0)
                {
                    confirm(transactionID, categoryID, vendorID);
                    if ($('#VendorDetected-' + transactionID).val() == "False")
                    {
                        addVendorAbbrev(abbrev);
                    }
                }

            });

            if ($.active > 0) {
                $(document).ajaxStop(function () {
                    //location.reload(true);
                    if (!$(".transaction")[0]) {
                        $('#main').empty();
                        $('#main').append("<br/><h1>There Are No Unconfirmed Transactions</h1>");
                    }
                    else {
                        alert("You may not confirm a transaction with an unknown vendor or an unknown category");
                        $(".transaction").show();
                        $(".transactionhr").show();
                        $(".transactionhdr").show();
                        $("h2").remove();
                    }
                });
            }
            else {
                //location.reload(true);
                if (!$(".transaction")[0]) {
                    $('#main').empty();
                    $('#main').append("<br/><h1>There Are No Unconfirmed Transactions</h1>");
                }
                else {
                    alert("You may not confirm a transaction with an unknown vendor or an unknown category");
                    $(".transaction").show();
                    $(".transactionhr").show();
                    $(".transactionhdr").show();
                    $("h2").remove();
                }
            }

            

        });

        //This is used to track the transaction ID of the transaction being maniputlated
        var TransactionID = 0;

        // When the user clicks on any AddVendor button, open the AddVendor modal 
        $(".AddVendor").click(function (e) {
            e.preventDefault();

            //Add the focus to the textbox.
            //$('#VName').focus();
            document.getElementById("VName").focus();

            //Extract the transaction id from the id of the DOM object
            TransactionID = this.id.match(/\d+/g);

            //Show the modal
            vendormodal.style.display = "block";
        });

        // When the user clicks on any AddCategory button, open the AddCategory modal 
        $(".AddCategory").click(function (e) {
            e.preventDefault();

            //Add the focus to the textbox.
            //$('#CName').focus();
            document.getElementById("CName").focus();

            //Extract the transaction id from the id of the DOM object
            TransactionID = this.id.match(/\d+/g);

            //Show the modal
            categorymodal.style.display = "block";
        });

        //Add a Vendor when Add Vendor button is clicked
        $("#AddVendor").click(function () {

            var vendor = {
                "VendorName": $('#VName').val()
            }

            $.ajax({
                type: 'POST', //HTTP POST Method
                url: '/Vendors/Add', // Controller/View
                data: JSON.stringify(vendor),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    //Make the vendor modal disappear
                    vendormodal.style.display = "none";

                    //Change the vendor of the transaction to the vendor that was just added
                    $("#Vendor-" + TransactionID).append('<option value="' + response.VendorID + '">' + response.VendorName + '</option > ');
                    $("#Vendor-" + TransactionID).val(response.VendorID).trigger('change');

                    //Reset the Add Vendor form
                    $('#VName').val('');
                },
                failure: function (response) {
                    alert("Fail");
                },
                error: function (response) {
                    alert("Fail");
                }
            });
        });

        //Add a Category when Add Category button is clicked
        $("#AddCategory").click(function () {

            var category = {
                "CategoryName": $('#CName').val()
            }

            $.ajax({
                type: 'POST', //HTTP POST Method
                url: '/Categories/Add', // Controller/View
                data: JSON.stringify(category),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    //Make the vendor modal disappear
                    categorymodal.style.display = "none";

                    //Change the vendor of the transaction to the vendor that was just added
                    $("#Category-" + TransactionID).append('<option value="' + response.CategoryID + '">' + response.CategoryName + '</option > ');
                    $("#Category-" + TransactionID).val(response.CategoryID).trigger('change');

                    //Reset the Add Vendor form
                    $('#CName').val('');
                },
                failure: function (response) {
                    alert("Fail");
                },
                error: function (response) {
                    alert("Fail");
                }
            });
        });

        //Add a Category when Add Category button is clicked
        $("#AddAbbrev").click(function () {

            var abbrev = {
                "VendorID": $('#AbbrevVendor').val(),
                "Abbrev": $('#Abbrev').val()
            }

            addVendorAbbrev(abbrev);
        });

        // Get the modal
        var vendormodal = document.getElementById('VendorModal');
        var categorymodal = document.getElementById('CategoryModal');
        var abbrevmodal = document.getElementById('VendorAbbrevModal');

        // Get the <span> element that closes the modal
        var vspan = document.getElementsByClassName("close")[0];


        // When the user clicks on <span> (x), close the modal
        $(".close").click(function () {
            vendormodal.style.display = "none";
            categorymodal.style.display = "none";
            abbrevmodal.style.display = "none";
        });

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == vendormodal) {
                vendormodal.style.display = "none";
            }
            if (event.target == categorymodal) {
                categorymodal.style.display = "none";
            }
            if (event.target == abbrevmodal) {
                abbrevmodal.style.display = "none";
            }
        }

    })

</script>


<!-- Vendor pop up -->
<div id="VendorModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Add a New Vendor</h3>
        <input type="text" id="VName" placeholder="Vendor Name" />  
        <input type="button" value="Add" id="AddVendor" />
    </div>

</div>

<!-- Category pop up -->
<div id="CategoryModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Add a New Category</h3>
        <input type="text" id="CName" placeholder="Category Name" />
        <input type="button" value="Add" id="AddCategory" />
    </div>

</div>


<!-- VendorAbbrev pop up -->
<div id="VendorAbbrevModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <p><strong>We were unable to automatically detect this vendor. Please enter in the part of the description that sets this vendor apart</strong></p>
        <input type="hidden" id="AbbrevVendor" />
        <input type="text" id="Abbrev" placeholder="Abbreviation" class="form-control"/><br />
        <input type="button" value="Add" id="AddAbbrev" class="btn btn-success"/>
    </div>

</div>

<div id="main">
    
    <br />
    <hr />

    <div class="row transactionhdr">
        <div class="col-md-1">
            <b>Date</b>
        </div>
        <div class="col-md-3">
            <b>Description</b>
        </div>
        <div class="col-md-1">
            <b>Amount</b>
        </div>
        <div class="col-md-3">
            <b>Vendor</b>
        </div>
        <div class="col-md-3">
            <b>Category</b>
        </div>
        <div style="float: right;" class="col-md-1">
            <button class="btn btn-success pull-right" id="ConfirmAll">Confirm All</button>
        </div>
    </div>
    <hr />


    @foreach (var transaction in Model)
    {
        <script>

        $(document).ready(function () {

            //These values store the value of the selected VendorID and CategoryID
            var categoryvalue = $("#Category-@transaction.TransactionID").val();
            var vendorvalue = $("#Vendor-@transaction.TransactionID").val();
            var vendordetected = $("#VendorDetected-@transaction.TransactionID").val();
            var vendordescription = $("#Description-@transaction.TransactionID").text()

            //If the selected value of the category is changed, update the value of categoryvalue
            $("#Category-@transaction.TransactionID").change(function () {
                categoryvalue = $("#Category-@transaction.TransactionID").val();
            });

            //If the selected value of the vendor is changed, update the value of vendorvalue
            $("#Vendor-@transaction.TransactionID").change(function () {
                vendorvalue = $("#Vendor-@transaction.TransactionID").val();
            });

            //Pass the transactionID, CategoryID, and VendorID to the confirm function to be posted to the server
            $("#Confirm-@transaction.TransactionID").click(function () {

                if (vendorvalue != 0 && categoryvalue != 0)
                {
                    //alert(vendordescription);
                    //If the vendor wasn't automatically detected, prompt user to add vendor abbrev
                    if (vendordetected == "False") {
                        document.getElementById("VendorAbbrevModal").style.display = "block";
                        $('#Abbrev').attr('size', vendordescription.length);
                        $('#Abbrev').val(vendordescription);
                        $('#AbbrevVendor').val(vendorvalue);
                    }

                    confirm(@transaction.TransactionID, categoryvalue, vendorvalue)
                }
                else
                {
                    alert("You may not confirm a transaction with an unknown vendor or an unknown category");
                }
            });

        })

        </script>

        <div class="row transaction" id="@transaction.TransactionID">
            <div class="col-md-1">
                @transaction.Date.ToString("MM/dd/yyyy")
            </div>
            <div class="col-md-3">
                <p id="Description-@transaction.TransactionID">@transaction.Description</p>
                <input type="hidden" id="VendorDetected-@transaction.TransactionID" value="@transaction.VendorDetected.ToString()" />
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => transaction.Amount)
            </div>
            <div class="col-md-3">
                @Html.DropDownList(transaction.TransactionID + "Vendor", new SelectList(ViewBag.Vendors, "VendorID", "VendorName", transaction.Vendor.VendorID), new { @class = "form-control", @id = "Vendor-" + transaction.TransactionID })
                <a class="AddVendor" id="AddVendor-@transaction.TransactionID" href="">Add Vendor</a>
            </div>
            <div class="col-md-3">
                @Html.DropDownList(transaction.TransactionID + "Category", new SelectList(ViewBag.Categories, "CategoryID", "CategoryName", transaction.Category.CategoryID), new { @class = "form-control", @id = "Category-" + transaction.TransactionID })
                <a class="AddCategory" id="AddCategory-@transaction.TransactionID" href="">Add Category</a>
            </div>
            <div class="col-md-1">
                <input type="button" value="Confirm" id="Confirm-@transaction.TransactionID" class="btn btn-success" />
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
                
            </div>
        </div>

        <hr class ="transactionhr" id="hr-@transaction.TransactionID" />
    }
</div>


