@model IEnumerable<PersonalFinanceApplication.Models.Transaction>
@{
    ViewBag.Title = "Confirm";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  
    $(document).ready(function () {

        var number = 4;

        $('#ConfirmAll').click(function () {
            $.ajax({
                type: 'POST', //HTTP POST Method
                url: '/Transactions/Confirm', // Controller/View
                data: '{id: ' + JSON.stringify(number) + '}',
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function () {
                    alert("Success");
                },
                failure: function (response) {
                    alert("Fail");
                },
                error: function (response) {
                    alert("Fail");
                }
            });
        })
    })
</script>

<h2>Confirm</h2>
<button class="btn btn-success pull-right" id="ConfirmAll">Confirm All</button>
<br />
<hr />

<div class="row">
    <div class="col-md-1">
        <b>Date</b>
    </div>
    <div class="col-md-3">
        <b>Description</b>
    </div>
    <div class="col-md-1">
        <b>Amount</b>
    </div>
    <div class="col-md-2">
        <b>Vendor</b>
    </div>
    <div class="col-md-2">
        <b>Category</b>
    </div>
</div>
<hr />

<script>
    $(document).ready(function () {

        var vendorListLength = $('#TestDrop').children('option').length;
        $(function () {
            $("#TestDrop").change(function () {
                alert($("#TestDrop").val());
            });
        });

    })
</script>
<p id="test">Test</p>
@Html.DropDownList("TestDrop", new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"))

@foreach (var transaction in Model)
{
    <script>

        $(document).ready(function () {

            var number = 4;
            var categoryvalue = 4;
            var vendorvalue = 4;

            $(function () {
                $("#Category-@transaction.TransactionID@transaction.Category.CategoryName").change(function () {
                    alert($("#Category-@transaction.TransactionID@transaction.Category.CategoryName").val());
                    categoryvalue = $("#Category-@transaction.TransactionID@transaction.Category.CategoryName").val();
                });
            });

            $(function () {
                $("#Vendor-@transaction.TransactionID@transaction.Vendor.VendorName").change(function () {
                    alert($("#Vendor-@transaction.TransactionID@transaction.Vendor.VendorName").val());
                    vendorvalue = $("#Vendor-@transaction.TransactionID@transaction.Vendor.VendorName").val();
                });
            });

            $('#@transaction.TransactionID').click(function () {
                $.ajax({
                    type: 'POST', //HTTP POST Method
                    url: '/Transactions/Confirm', // Controller/View
                    data: '{TransactionID: ' + JSON.stringify(@transaction.TransactionID) +
                            ', CategoryID: ' + JSON.stringify(categoryvalue) +
                            ', VendorID: ' + JSON.stringify(vendorvalue) + '}',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        alert("Success");
                    },
                    failure: function (response) {
                        alert("Fail");
                    },
                    error: function (response) {
                        alert("Fail");
                    }
                });
            })
        })
    </script>

        <div class="row">
            <div class="col-md-1">
                @transaction.Date.ToString("MM/dd/yyyy")
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => transaction.Description)
            </div>
            <div class="col-md-1">
                @Html.DisplayFor(modelItem => transaction.Amount)
            </div>
            <div class="col-md-2">
                @Html.DropDownList(transaction.TransactionID + transaction.Vendor.VendorName, new SelectList(ViewBag.Vendors, "VendorID", "VendorName"), transaction.Vendor.VendorName, new { @id = "Vendor-" + transaction.TransactionID + transaction.Vendor.VendorName })
            </div>
            <div class="col-md-2">
                @Html.DropDownList(transaction.TransactionID + transaction.Category.CategoryName, new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"), transaction.Category.CategoryName, new { @id = "Category-" + transaction.TransactionID + transaction.Category.CategoryName })
            </div>
            <div class="col-md-1">
                <input type="hidden" id="TransactionID" name="TransactionID" value="@transaction.TransactionID" />
                <input type="button" value="Confirm" id="@transaction.TransactionID" class="btn btn-success" />
                @*<a class="btn btn-success" href="@Url.Action("Confirm", "Transactions")">Confirm</a>*@
            </div>
            <div class="col-md-1">
                <a class="btn btn-default" href="@Url.Action("Details", "Transactions", new { id = transaction.TransactionID })">View Details</a>
            </div>
        </div>

        <hr/>



    @*@section Scripts
    {
        <script type="text/javascript">
        $('#Confirm').click(function () {

            var form = $("#confirmTransaction");
            var url = form.attr("action");
            var formData = form.serialize();
            $.post(url, formData, function (data) {
                $("#msg").html(data);
            });
        })
        </script>
    }*@
}



