@model IEnumerable<PersonalFinanceApplication.Models.Transaction>
@{
    ViewBag.Title = "Confirm";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

    //Post the TransactionID, CategoryID, and VendorID to the Transactions/Confirm (post)
    function confirm(id, cval, vval) {
        $.ajax({
            type: 'POST', //HTTP POST Method
            url: '/Transactions/Confirm', // Controller/View
            data: '{TransactionID: ' + JSON.stringify(id) +
            ', CategoryID: ' + JSON.stringify(cval) +
            ', VendorID: ' + JSON.stringify(vval) + '}',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function () {
                //alert("Success");
                $('#' + id).hide();
                $('#hr-' + id).hide();
            },
            failure: function (response) {
                alert("Fail");
            },
            error: function (response) {
                alert("Fail");
            }
        });
    }

    $(document).ready(function () {

        $("#ConfirmAll").click(function () {

            for (i = 0; i < @Model.Count(); i++)
            {
                var categoryvalue = $("#Category-" + i).val();
                var vendorvalue = $("#Vendor-" + i).val();

                confirm(i, categoryvalue, vendorvalue);
            }
        });

    })

</script>

<h2>Confirm</h2>
<button class="btn btn-success pull-right" id="ConfirmAll">Confirm All</button>
<br />
<hr />

<div class="row">
    <div class="col-md-1">
        <b>Date</b>
    </div>
    <div class="col-md-3">
        <b>Description</b>
    </div>
    <div class="col-md-1">
        <b>Amount</b>
    </div>
    <div class="col-md-2">
        <b>Vendor</b>
    </div>
    <div class="col-md-2">
        <b>Category</b>
    </div>
</div>
<hr />


@foreach (var transaction in Model)
{
    <script>

        $(document).ready(function () {

            //These values store the value of the selected VendorID and CategoryID
            var categoryvalue = $("#Category-@transaction.TransactionID").val();
            var vendorvalue = $("#Vendor-@transaction.TransactionID").val();

            //If the selected value of the category is changed, update the value of categoryvalue
            $("#Category-@transaction.TransactionID").change(function () {
                categoryvalue = $("#Category-@transaction.TransactionID").val();
            });

            //If the selected value of the vendor is changed, update the value of vendorvalue
            $("#Vendor-@transaction.TransactionID").change(function () {
                vendorvalue = $("#Vendor-@transaction.TransactionID").val();
            });

            //Pass the transactionID, CategoryID, and VendorID to the confirm function to be posted to the server
            $("#Confirm-@transaction.TransactionID").click(function () {
                confirm(@transaction.TransactionID, categoryvalue, vendorvalue)
            });

        })

    </script>

    <div class="row" id="@transaction.TransactionID">
        <div class="col-md-1">
            @transaction.Date.ToString("MM/dd/yyyy")
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(modelItem => transaction.Description)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => transaction.Amount)
        </div>
        <div class="col-md-2">
            @Html.DropDownList(transaction.TransactionID + "Vendor", new SelectList(ViewBag.Vendors, "VendorID", "VendorName", transaction.Vendor.VendorID), new { @id = "Vendor-" + transaction.TransactionID })
        </div>
        <div class="col-md-2">
            @Html.DropDownList(transaction.TransactionID + "Category", new SelectList(ViewBag.Categories, "CategoryID", "CategoryName", transaction.Category.CategoryID), new { @id = "Category-" + transaction.TransactionID })
        </div>
        <div class="col-md-1">
            <input type="button" value="Confirm" id="Confirm-@transaction.TransactionID" class="btn btn-success" />
        </div>
        <div class="col-md-1">
            <a class="btn btn-default" href="@Url.Action("Details", "Transactions", new { id = transaction.TransactionID })">View Details</a>
        </div>
    </div>

    <hr id="hr-@transaction.TransactionID"/>
}



